/* css reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
*
*
*
*
*
*/


/* style */
body{
    font: 16px/28px arial, sans-serif;
    background-color: #eaeaee;
    color: #333;
    background-image: url(img/criss-cross.webp);
}

.position{
    width: 100%;
    height: 65px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: bisque;
    border: 2px solid burlywood;
}

.container{
    width: 960px;
    margin: auto;
    margin-top: 80px;
    background-color: rgb(255, 255, 255);
}

/* padding top, left, right 20 - padding bottom 10 */
.header{
    padding: 20px;
    padding-bottom: 10px;
}

/* div dengan parent header dan judul, biar gak semua div terpanggil*/
.header .judul{           
    font-size: 40px;
    font-weight: bold;
}
 
.header ul li{
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;
}

/* pake text decoration none biar linkny gaad underline */
.header a{
    text-decoration: none;
    color: salmon;
}


/* pengaturan tampilan link namanya pseudo css */
.header a:hover{
    background-color: lightskyblue;
    color: white;
    padding-bottom: 10px;
}

/* background size untuk menyesuaikan posisi gambar menjadi fit */
.hero{
    height: 350px;
    background-image: url(img/pexels-ola-dapo-3521937.jpg);
    background-size: cover;
    background-position: 0 -350px;
    border-top: 4px solid lightskyblue;
    border-bottom: 4px solid salmon;
}
.main{
    width: 600px;
    padding: 20px;
    box-sizing: border-box;
    float: left;
}
.main h2{
    font-size: 28px;
    font-weight: bold;
}
.main penulis{
    font-size: 11px;
    margin-top: -5px;
}
.main .penulis a{
    text-decoration: 
    0;
    color: salmon;
}
.main p{
    margin-bottom: 20px;
    font-size: 14px;
}

/* FOOTER */
.footer{
    background-color: #333;
    padding: 10px;
}

.footer .copy p{
    color: #eaeaee;
    text-align: center;
    font-size: 12px;
}

/* micro clearfix synrtax */
.content:before,
.content:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.content:after {
    clear: both;
}

.content {
    *zoom: 1;
}

/* SIDEBAR */
.sidebar{
    width: 300px;
    float: left;
}

.sidebar h3{
    font-weight: bold;
    padding-top: 20px;
    color: #666;
}

.sidebar img{
    width: 120px;
    padding-top: 10px;
    padding-right: 20px;
    float: left;
}

.sidebar p{
    font-size: 12px;
}